* {
    padding: 0;
    margin: 0;
     /* keep size as content is added */
    box-sizing: border-box;  
}  

body {
    /* vh = viewport height */
    height: 100vh;
    display: flex;
    background-color: rgb(180, 79, 180); 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* position of card front and back face absolute & relative to memory-game*/
/* flex wrap for game board*/
/* 3d flip card with transform: rotate-Y(180deg)*/
/* add to parent  container - perspective 1000px */
/* add to  memory card  transform-style- preserve 3d */
.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* perspective to add 3d effect */
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
  }
.memory-card:hover {
    cursor: pointer;
  }
.memory-card:active {
    transform: scale(0.97);
    transition: .2s;
}
.memory-card.flip {
    transform:rotateY(180deg);
}


  .front-face,
.back-face {
  width: 100%;
  height: 100%;
  /* padding: 20px; */
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}
.front-face {
    transform: rotateY(180deg);
}
button {
    padding: 10px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: whitesmoke;
    color: green;
}
button:hover {
    cursor: pointer;
    scale: 1.1;
}



